<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="StorefrontX\SfxStoreConfig\Model\Url">
        <arguments>
            <argument name="session" xsi:type="object">Magento\Framework\Session\Generic\Proxy</argument>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>
    <preference for="StorefrontX\SfxStoreConfig\Api\SfxStoreConfigInterface"
    type="StorefrontX\SfxStoreConfig\Model\SfxStoreConfigFields"/>

    <type name="Magento\Customer\Model\CustomerRegistry">
        <plugin name="storefrontx_customer_registry_plugin" type="StorefrontX\SfxStoreConfig\Plugin\CustomerRegistryPlugin"/>
    </type>
</config>
