<?xml version="1.0"?>
<!--
/**
 * Copyright © MageXo, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="web" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="sfx" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SFX fields</label>
                <field id="sfx_base_url" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFX URL</label>
                    <comment><![CDATA[Specify URL of SFX Frontend.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
